img {
    border-radius: 15px;
}

.productInfo{
    margin: 10px auto; 
    color: var(--color); 
    width: 60%;
    border: var(--border-color) solid;
    border-radius: 25px;

}

/*.spinnerView {
    background-color:  white;
    display: flex;
    justify-content: center;
}*/
