img {
    border-radius: 15px;
}

.productInfo{
    margin: 0 auto; 
    color: var(--color); 
    width: 60%;
    border: var(--border-color), 2px, solid ;
    border-radius: 25px;
}

/*.spinnerView {
    background-color:  white;
    display: flex;
    justify-content: center;
}*/
