body {
  margin-left: 0;
}
.productInfo {
  width: 100%;
}

.filterArea {
  margin: auto;
  border: 2px solid var(--border-color);
  border-radius: 25px;
  width: 90%;
  
}
.add img {
  object-fit: cover;
  width: fit-content;
  /*height: 150px;*/
  border-radius: 15px;
}

label {
  margin-left: 2px;
  margin-right: 10px;
  text-align: left;
}