img {
    border-radius: 15px;
    height: 188px;
}

.productInfo{
    margin: 10px auto;
    width: 100%; 
    color: var(--color); 
    border: var(--border-color) solid;
    border-radius: 25px;
}

#advertOnly {
    width: 50%;
}

.typeTag p{
    font-weight: bold;
}
