h1{
  color: var(--color);
  font-family: var(--font-base);
}

.productInfo {
  width: 100%;
}

.filterArea {
  margin: auto;
  border: 2px solid var(--border-color);
  border-radius: 25px;
  width: 90%;
  
}

.numberInputs {
  color: var(--color);
  width: 100px;
  margin-right: 5px;
  border-radius: 5px;
  border: 1px solid var(--border-color)
}

.add img {
  object-fit: cover;
  width: fit-content;
  /*height: 150px;*/
  border-radius: 15px;
}

label {
  color: var(--color);
  margin-left: 2px;
  margin-right: 10px;
  text-align: right;
  font-weight: bold;
}

::placeholder {
  color: var(--color);
  text-align: center;
}